<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="baizhuan.hangzhou.com.android5study">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NavigationView.NavigationViewActivity"
            android:theme="@style/translucetStatusThreme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CoordinatiorLayout.CoordinatiorLayoutActivity" />
        <activity android:name=".CoordinatiorLayout.TaoBaoBuyActivity" />
        <activity android:name=".TabLayout.TabLayoutActivity" />
        <activity android:name=".TextInputLayout.TextInputLayoutActivity" />
        <activity android:name=".AppBarLayout.AppBarLayoutActivity" />
        <activity
            android:name=".CollapsingToolbarLayout.CollapsingToolbarLayoutActivity"
            android:theme="@style/translucetStatusThreme" />
        <activity android:name=".TextSelection.TextSelectionActivity" />
        <activity android:name=".CardView.CardViewActivity" />
        <activity
            android:name=".Palette.PaletteActivity"
            android:theme="@style/translucetStatusThreme" />
        <activity android:name=".Ripple.RippleActivity" />

        <activity android:name=".Toolbar.ToolbarActivity" />
        <activity android:name=".RecycleView.RecycleViewActivity" />

        <activity android:name=".TextureView.TextureViewActivity" />
        <activity android:name=".ExpandListView.ExpandListActivity" />
        <activity android:name=".ExpandListView.ExpressDetailActivity" />
        <activity android:name=".threeListview.ThreeListActivity" />
        
    </application>

</manifest>
