<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="baizhuan.hangzhou.com.androidlibstudy">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!--写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>.
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Rxjava.RxjavaActivity"></activity>
        <activity android:name=".Image.CircleImageActivity"></activity>
        <activity android:name=".PorterDuffXfermode.PorterDuffXfermodeTextActivity"></activity>

        <activity android:name=".Shader.BitmapShaderActivity"></activity>
        <activity android:name=".Shader.ShaderActivity"></activity>


        <activity android:name=".Shader.LinearGradientActivity"></activity>
        <activity android:name=".Shader.LinearGradientActivity2"></activity>
        <activity android:name=".Sticky.StickyActivity"></activity>
        <activity android:name=".H5.H5Activity"></activity>
        <activity android:name=".TransitionsHelper.ImageDetailActivity" />
        <activity android:name=".TransitionsHelper.TransitionsHelperActivity" />
        <activity android:name=".Https.HttpsActivity" />
        <activity android:name=".FunctionActivity" />
        <activity android:name=".MVP.view.MVPLoginActivity" />
        <activity android:name=".bezier.BezierActivity" />
        <activity android:name=".bezier.BezierWaveActivity" />
        <activity android:name=".customview.activity.AlorithmActivity" />
        <activity android:name=".customview.activity.UnfoldedScrollActivity" />
        <activity android:name=".customview.activity.BitmapUtilsTestActivity" />
    </application>

</manifest>
